<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Scrape New Data</a></p>
    </div>
      
    
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading" ; Align=Center class="bold_text">Featured Mars Image</h2>
       
        <img src= {{ Mars.Mars_image }}>
        <h3 class="heading" ; Align=Left class="bold_text">Latest Mars News</h3>
        <p>{{ Mars.Mars_headline }}</p>
        <p>{{ Mars.Mars_news }}</p>
        <h3>Mars Facts</h3>
        <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: left;">
              <th></th>
              <th>Profile</th>
            </tr>
            <tr>
              <th>Mars</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Equatorial Diameter:</th>
              <td>6,792 km</td>
            </tr>
            <tr>
              <th>Polar Diameter:</th>
              <td>6,752 km</td>
            </tr>
            <tr>
              <th>Mass:</th>
              <td>6.39 × 10^23 kg (0.11 Earths)</td>
            </tr>
            <tr>
              <th>Moons:</th>
              <td>2 (Phobos &amp; Deimos)</td>
            </tr>
            <tr>
              <th>Orbit Distance:</th>
              <td>227,943,824 km (1.38 AU)</td>
            </tr>
            <tr>
              <th>Orbit Period:</th>
              <td>687 days (1.9 years)</td>
            </tr>
            <tr>
              <th>Surface Temperature:</th>
              <td>-87 to -5 °C</td>
            </tr>
            <tr>
              <th>First Record:</th>
              <td>2nd millennium BC</td>
            </tr>
            <tr>
              <th>Recorded By:</th>
              <td>Egyptian astronomers</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <h2 class="heading" ; Align=Center class="bold_text">Mars Hemispheres</h2>

    </div>
</div>

<hr>

  <div class="col-md-12">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="title" id="title">
                <h3>Valles Hemisphere</h3>
            </div>
                <div class="thumbnail">
                    <img src= {{ Mars.Valles }} class="img-thumbnail"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title" id="title">
                    <h3>Cerberus Hemisphere</h3>
                </div>
                <div class="thumbnail">
                    <img src= {{ Mars.Cerberus }} class="img-thumbnail"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="title" id="title">
                    <h3>Schiaparelli Hemisphere</h3>
                </div>
                <div class="thumbnail">
                    <img src= {{ Mars.Schiap }} class="img-thumbnail"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="title" id="title">
                    <h3>Syrtis Major Hemisphere</h3>
                </div>
                <div class="thumbnail">
                    <img src= {{ Mars.Syrtis }} class="img-thumbnail"></a>
                </div>
            </div>
        </div>
  </div>
</div>


</body>
</html>

